.row {
  display: flex;
  gap: 0;
}

.gridsquare-uncolored {
  padding: 0 0;
  height: 32px;
  width: 32px;
  background-color: beige;
  border: 1px solid black;
}

.gridsquare-colored {
  padding: 0 0;
  height: 32px;
  width: 32px;
  background-color: black;
  border: 1px solid black;
}

#board {
  padding: 8px 8px;
  background-color: white;
  height: fit-content;
  width: fit-content;
  align-self: center;
  border-radius: 6px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(220, 219, 219);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0 20%;
  margin-bottom: 48px;
}

.logo {
  width: fit-content;
  align-self: center;
  justify-self: center;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: bolder;
}
button {
  width: 128px;
  height: 48px;
  margin: auto;
}

.note {
  margin: 0 0;
  width: 128px;
  justify-self: flex-end;
  margin: auto;
  font-size: large;
  font-weight: bold;
}
